/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. 
 * 
 * The initial developer of trinitymobile-custom.css is Rob Gerns.
 * Copyright 2012 Rob Gerns.  All rights reserved.*/
 
/* 
 * trintymobile-custom.css 
 *
 * CSS to customize the Trinity Mobile app without having to worry about 
 * changing or breaking the jQuery Mobile CSS files. Useful for doing 
 * relatively basic CSS stuff, like removing underlines from links or
 * changing page title text colors.
 *
 * It's recommended that you use this file to modify basic CSS properties
 * and to leave the jQuery Mobile CSS file(s) alone unless you REALLY know
 * what you're doing there.
 * 
 */
 
 /*Make the main screen links look like icon text.*/
 .mainLinks a {
     color: #FFFFFF;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
 }
 .mainLinks a:link {
     color: #FFFFFF;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
 }
 .mainLinks a:hover {
     color: #FFFFFF;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
 }
 .mainLinks a:visited {
     color: #FFFFFF;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
 }
 /*Remove any image borders on main screen icons.*/
 .mainLinks img {
     border: none;
 }
 /*Apply the same to everything else that might be part of the icons.*/
 .mainLinks {
     text-align: center;
     font-weight: bold;
 } 
 /*Make the main screen's links stay the same color even after visited.*/
 #tcMain a:visited {
     color: #FFFFFF;
 }
 
 /*Directions page text boxes.*/
 #from, #to {
     background-color:#FFFFFF;
     color:#000000;
 }
 
 /*Blog post text color.*/
 #tcBlog-Post {
     color: #FFFFFF;
 }
 /*Remove any images from blog posts.*/
 #tcBlog-Post img {
     display: none;
 }
 
 /*Make links that appear in tweets use a readable color.*/
 #tcTwitter-ul li a:link  {
     color: ##2489CE;
 }
 
 /*For pages that use lists, use a white 1px bottom border to separate items.*/
 .ui-li {
     border-bottom: 1px solid #FFFFFF;
     border-top: 0px;
 }
 
 /*Directions page map.*/
 #map_canvas {
     color: #000000;
     height: 170px;
 }